# Keys
*.pem

# Project
Dockerfile
.flake8
.pre-commit-config.yaml
commitlint.config.js
mypy.ini
package.json
package-lock.json
.git
*.md

# Editors
.vscode
.spyderproject
.spyproject

# MacOS
.DS_Store

# Environments
*.env

# Dependency directories
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
